*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.footer
{
    width: 100%;
    padding: 20px 30px;
    background: #f6f6f6;
}

.footer .container
{
    display: flex;
    max-width: 100%;
}

.footer .container .leftBox
{
    width: 25%;
    padding: 20px 20px;
    border-right: 2px solid #b8b7b7;
}

.footer .container .leftBox .box
{
    display: flex;
    padding: 10px 20px;
    margin-top: 15px;
    align-items: center;
}

.footer .container .leftBox .box .iconBox
{
    font-size: 38px;
    color: #cd1e76;
    

}
.footer .container .leftBox .detail
{   
    padding: 0;
    margin-left: 10px;
}
.footer .container .leftBox .detail h3
{
    text-transform: uppercase;
    font-size: 16px;
    color: #cd1e76;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    
    
} 

.footer .container .leftBox .detail p
{
    font-size: 14px;
    color: #232323;
    margin: 0;
}

.footer .container .rightBox
{
    padding: 10px;
    width: 75%;
}

.footer .container .rightBox .header
{
    max-width: 100%;
    align-items: center;
}


.footer .container .rightBox .header img
{
    width: 150px;
    height: auto;
    margin-left: 40%;
}

.footer .container .rightBox .header p
{
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    color: #8a8a8a;
}

.footer .container .rightBox .bottom
{
   padding: 20px 20px; 
   margin-top: 30px;
   width: 100%;
   display: flex;
   justify-content: space-around; 
}

.footer .container .rightBox .bottom .box
{
    padding: 10px 20px;
}

.footer .container .rightBox .bottom .box h3
{
    text-transform: uppercase;
    color: #232323;
    font-size: 14px;
    letter-spacing: 1px;
}

.footer .container .rightBox .bottom .box ul
{
    margin-top: 10px;
    padding: 0;
}

.footer .container .rightBox .bottom .box ul li
{
    list-style: none;
    margin-top: 5px;
    color: #8a8a8a;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    
}

.footer .container .rightBox .bottom .box ul li:hover
{
   
    color: #cd1e76;
 ;
}


@media (max-width: 900px) {

    .footer .container .leftBox .detail h3
    {
        font-size: 12px;
        
    }
    .footer .container .leftBox .detail p
    {
        font-size: 12px;
        
    }
}

@media (max-width: 800px) {


    .footer .container .leftBox
    {
        padding: 5px 5px;
        display: flex;
        align-items: center; /* Vertically centers the content */
        justify-content: center; /* Horizontally centers the content */
        transform:translate(160%, -45%); 
        border-right:none;
    }

    .footer .container .leftBox .box
    {
        padding: 0;
        margin-top: 0;
        
    }
    .footer .container .leftBox .detail h3
    {
        font-size: 10px;
        
    }
    .footer .container .leftBox .detail p
    {
        font-size: 8px;
        
    }
    .footer .container .rightBox .header img {
        width: 100px;
        margin-left: 20%;
        margin-top: 20%;
       
    }
    .footer .container .rightBox .header p {
        margin: 15px 202px 5px 0px;
        
    }
    .footer .container .rightBox .bottom {
        padding: 20px 20px;
        margin-top: 30px;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
    }
}

@media (max-width: 475px) 
{
    .footer .container .leftBox .detail
    {
        margin-left: 2px;
    }
    .footer .container .leftBox .box .iconBox {
        
        font-size: 30px;
        padding: 8px;
        
    }

    .footer .container .leftBox .detail h3
    {
        font-size: 10px;
        
    }
    .footer .container .leftBox .detail p
    {
        font-size: 6px;
        
    }
    .footer .container .rightBox .header p {
        margin: 15px 64px 5px 0px;
    }
}