*
{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

.home
{
    width: 100%;
   
}

.home .topBanner
{
    
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 10px;
    background-image: url('../images/Novo Projeto.webp');
    background-size: cover;
    background-repeat:no-repeat;
    background-color: #bcc7bb;
    background-position: end;
    padding: 60px 20px;
    box-sizing: border-box;
}

.home .topBanner .contant
{   
    
    width: 100%;
    
   
   
}

.home .topBanner .contant h3
{
    text-transform: capitalize;
    color: #cd1e76;
    font-weight: 300;
    letter-spacing: 1px;
}

.home .topBanner .contant h2
{
    text-transform: uppercase;
    color: #232323;
    letter-spacing: 1px;
    font-size: 32px;
   
}

.home .topBanner .contant p
{
    color: #232323;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.home .topBanner .contant .link 
{   
    
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    background: #fed700;
    color: #232323;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}

.home .topBanner .contant Link:hover
{
    color: #fed700;
    background: #cd1e76;
}

.home .trending
{
    
    width: 100%;
    
}

.home .trending .container
{
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}

.home .trending .container .leftBox
{

    width: 70%;
    padding: 5px;
}

.home .trending .container .leftBox .header
{
    margin: 20px 0 0 45px;
    display: flex;
    max-width: 80%;
    background: #f6f7f8;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
;
}

.home .trending .container .leftBox .header .heading h2
{
    text-transform: uppercase;
    font-size: 14px;
    color: #232323;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    cursor: pointer;
}

.home .trending .container .leftBox .header .cate
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.home .trending .container .leftBox .header .cate h3
{
    font-size: 14px;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.5s;
    color: #232323;
    background-color: #cd1e76;
    border-radius: 4px;
    padding: 4px;
    color: #f6f7f8;

}

.home .trending .container .leftBox .header .cate h3:hover
{
    color: #fed700;
}

.home .trending .container .leftBox .products
{
   
    max-width: 100%;

}

.home .trending .container .leftBox .products .container
{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
   
}
.home .trending .container .leftBox .products button
{
    margin-top: 20px;
    margin-left: 50%;
    padding: 10px 30px;
    background: none;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 600;
    background: #cd1e76;


}
.home .trending .container .leftBox .products .container .box
{
    width: 195px;
    height: 295px;
    /* padding: 10px 10px; */
    border: 4px solid #f6f7f8;
    margin-top: 20px;
    margin-right: 10px;
     overflow: hidden;
    border-radius: 5px;
}
.home .trending .container .leftBox .products .container .box .imgBox
{
    display: flex;
}
.home .trending .container .leftBox .products .container .box .imgBox img
{
    width: 190px;
    height: auto;
    object-fit: cover;
}

.home .trending .container .leftBox .products .container .box .imgBox .icon
{
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    margin-top: 10px;
    transition: 0.5s;
}

.home .trending .container .leftBox .products .container .box:hover .imgBox .icon
{
    margin-left: -25%;
}

.home .trending .container .leftBox .products .container .box .imgBox .iconBox
{
    padding: 10px 10px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
    background: #fff;
    color: #cd1e76;
    transition: 0.5s;
    cursor: pointer;
}

.home .trending .container .leftBox .products .container .box .imgBox .iconBox:hover
{
    background: #fff;
    color: #cd1e76;
}

.home .trending .container .leftBox .products .container .box .info
{
    padding: 10px 10px;
    margin-left: 10px;
}

.home .trending .container .leftBox .products .container .box .info h3
{
    text-transform: uppercase;
    font-size: 14px;
    color: #cd1e76;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

.home .trending .container .leftBox .products .container .box .info p
{
    color:#fed700;
    margin-top: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

.home .trending .container .leftBox .products .container .box .info .btn
{
    margin-top: 10px;
    align-items: center;
    padding: 5px 20px;
    margin-left: 20px;
    border: none;
    background: none;
    outline: none;
    background: #fed700;
    color: #232323;
    text-transform: capitalize;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.home .trending .container .leftBox .products .container .box .info .btn:hover
{
    background:#cd1e76;
    color: #bcc7bb;
}

.home .trending .container .rightBox
{
    padding: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    
}

.home .trending .container .rightBox .right-container
{
    max-width: 100%;
}

.home .trending .container .rightBox .right-container .testimonial
{
    width: 100%;
    border: 4px solid #f6f7f8;
    
}

.home .trending .container .rightBox .right-container .testimonial .head
{
    padding: 10px 10px;
    text-align: center;
    background: #f6f7f8;

}

.home .trending .container .rightBox .right-container .testimonial .head h3
{
    text-align: center;
    color: #232323;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 1px;
}

.home .trending .container .rightBox .right-container .testimonial .detail
{
    padding: 10px 10px;
}

.home .trending .container .rightBox .right-container .testimonial .detail img
{
    
   
    width: 100%;
    height: auto;
}

.home .trending .right-container .rightBox .right-container .testimonial .detail .info
{
    margin-top: 10px;
    margin-left: 40px;
}

.home .trending .container .rightBox .right-container .testimonial .detail .info h3
{
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #232323;
}

.home .trending .container .rightBox .right-container .testimonial .detail .info h4
{
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    color: #cd1e76;
    font-weight: 300;
    text-transform: uppercase;
}

.home .trending .container .rightBox .right-container .testimonial .detail .info p
{
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    color: #232323;
    font-size: 14px;
}


.home .trending .container .rightBox .right-container .newsletter
{
    width: 100%;
    background:#f6f7f8;
    margin-top: 20px;
    padding: 10px 10px;
    
}


.home .trending .container .rightBox .right-container .newsletter .head
{
    margin-top: 10px;
    width: 100%;
}

.home .trending .container .rightBox .right-container .newsletter .head h3
{
    text-align: center;
    color: #232323;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
}

.home .trending .container .rightBox .right-container .newsletter .form
{
    margin-top: 10px;
    width: 100%;
}

.home .trending .container .rightBox .right-container .newsletter .form p
{
    text-align: center;
    text-transform: capitalize;
    color: #8a8a8a;
}

.home .trending .container .rightBox .right-container .newsletter .form input
{
    margin-top: 10px;
    width: 97.9%;
    background: none;
    outline: none;
    border: 1px solid #8a8a8a;
    color: #232323;
    padding: 5px;
}

.home .trending .container .rightBox .right-container .newsletter .form button
{
    margin-top: 10px;
    width: 100%;
    padding: 10px 10px;
    border: none;
    background: none;
    outline: none;
    background: #fed700;
    color: #232323;
    font-weight: 600;
    cursor: pointer;
}

.home .trending .container .rightBox .right-container .newsletter .form .iconBox
{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
    
}


.home .trending .container .rightBox .right-container .newsletter .form .iconBox .icon
{
    
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid #cd1e76;
    color: #cd1e76;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.5s;
    padding: 4px;
    
}


.home .trending .container .rightBox .right-container .newsletter .form .iconBox .icon:hover
{
    color: #f6f7f8;
    background: #cd1e76;
}

.home .banners
{
    margin-top: 20px;
    width: 100%;
}

.home .banners .container
{
    max-width: 100%;
    display: flex;
}

.home .banners .container .leftBox
{
    width: 25%;
}
.home .banners .container .leftBox img
{
    width: 100%;
    padding: 5px;

    
    
}

.home .banners .container .rightBox
{
    width: 100%;
}

.home .banners .container .rightBox .top
{
    max-width: 100%;
    height: 575px;
    display: flex;
    justify-content: end;

}
.home .banners .container .rightBox img
{
    max-width: 98%;
    object-fit: contain;
    padding: 5px;
    
    height: auto;
}

.home .producType 
{
    
    width: 100%;
    
}

.home .producType .container
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}

.home .producType .container .box
{
    flex: 1 1 calc(33.333% - 20px); /* Three items per row, adjust spacing */
    height: auto;
    border: 3px solid #f6f7f8;
    padding: 10px;
    box-sizing: border-box; /* Ensure padding is included in width */
}

.home .producType .container .box .header 
{
   width: 100%;
   height: 50px;
   background: #f6f6f6;
   padding: 10px 10px;
}

.home .producType .container .box .header h2
{
    color: #232323;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.home .producType .container .box  .productBox
{
    width: 100%;
    height: 150px;
    padding: 10px 10px;
    border: 1px solid #f6f7f8;
    display: flex;
    justify-content: space-evenly;
    
}

.home .producType .container .box .productBox .imgBox {
    width: 150px;
    height: 150px;
}
.home .producType .container .box .productBox .imgBox img
{   
    max-width: 100%;
    max-height: 100%;
    padding: 0 10px 10px 10px;
    object-fit: contain;
    
    
}

.home .producType .container .box .productBox .imgBox .detail
{
    margin-left: 30px;
    border:2px solid #232323;
}

.detail h3
{   
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    color: #8a8a8a;
   
}

 .detail p
{
    margin-top: 5px;
    margin-left: 5px;
    color: #cd1e76;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 12px;
}

.detail .icon
{
    margin-top: 10px;
}

.icon button
{
    background: none;
    outline: none;
    border: none;
    padding: 10px 10px;
    border: 2px solid #f6f7f8;
    margin-left: 10px;
    border-radius: 50%;
    color: #8a8a8a;
    cursor: pointer;
    transition: 0.5s;

}

.icon button:hover
{
    background: #f6f6f6;
    
    color: #232323;
    
   
}

@media (max-width: 650px) {

   

    .home .topBanner .contant h2
    {
        font-size: 24px;
    }

    .home .topBanner {
        
        padding: 20px;
        background-size: contain;
        background-position: right;
        
        
    }
    .home .topBanner .contant h2
    {
        font-size: 18px;
    }
    .home .topBanner .contant p
    {
        font-size: 14px;
        color: #fff;
    }
    .home .trending .container .rightBox .right-container .testimonial .head h3
    {
        font-size: 8px;
    }
    .home .trending .container .rightBox .right-container .newsletter .head h3
    {
        font-size: 10px;
    }
    .home .trending .container .rightBox .right-container .newsletter .form .iconBox .icon 
    {
        width: 18px;
        height: 18px;
        padding: 0;
    }
}

@media (max-width: 550px)
   {
    .home .trending .container .leftBox .header
 {
    margin: 8px 0 0 10px; 
}
.home .trending .container .leftBox .header .cate h3
{
    font-size: 10px;

}
}


@media (max-width: 350px) {
    .home .trending .container .leftBox .header
    {
        margin: 6px 0 0 10px; 
        
    }
    
    .home .trending .container .leftBox .header .heading h2
    {
        font-size: 8px;
    }
    .home .trending .container .leftBox .header .cate h3
    {
        font-size: 8px;
    
    }
    

    .home .trending .container .rightBox .right-container .testimonial .head h3
    {
        font-size: 6px;
    }
    .home .trending .container .rightBox .right-container .newsletter .head h3
    {
        font-size: 6px;
    }

    .home .trending .container .rightBox .right-container .newsletter .form .iconBox .icon 
    {
        width: 18px;
        height: 18px;
    }
}